@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import 'tailwindcss';

:root {
  --background: rgb(17, 17, 17);
}

@theme inline {
  --font-rocksalt: 'Rock Salt';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #ffb400;
  --color-grayLight: #2c2f30;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: Poppins, sans-serif;
}

@layer utilities {
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255 / var(--tw-text-opacity));
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: text-white;
}
